html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

@font-face {
  font-family: gtBold;
  src: url("../fonts/Gilroy-ExtraBold.woff");
}

@font-face {
  font-family: gtMedium;
  src: url("../fonts/Gilroy-Medium.woff");
}

@font-face {
  font-family: gtLight;
  src: url("../fonts/Gilroy-Medium.woff");
}

:root {
  --gradright: linear-gradient(to right, #f8c232, #cf4554);
  --shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.logo {
  height: 100px;
  width: 100px;
  background: url("../img/logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  z-index: 1000;
  margin-left: 30px;
}

@media only screen and (max-width: 770px) {
  .logo {
    display: none;
  }
}

.navbar {
  background-color: transparent;
  color: #fff;
  height: 200px;
  width: 100vw;
  position: fixed;
  z-index: 100;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.navbar .nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-buttons a {
  padding: 6px 20px;
  height: inherit;
  width: inherit;
  color: #fff;
  margin-right: 30px;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 0px 8px black;
  text-decoration: none;
  border: 2px solid #ff8533;
  border-radius: 6px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  position: relative;
  overflow: hidden;
  -webkit-transition: margin-top 0.3s ease;
  transition: margin-top 0.3s ease;
}

.navbar .nav-buttons a:hover {
  margin-top: -8px;
}

.navbar .nav-buttons a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #ff8533;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar .nav-buttons a:hover::before {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.navbar .nav-buttons button.full {
  background: transparent;
  color: #ff8533;
  border: none;
  outline: none;
  font-size: 36px;
  margin-right: 50px;
}

.scrolled {
  background: -webkit-gradient(linear, left top, right top, from(#f8ba35), to(#f46556));
  background: linear-gradient(to right, #f8ba35, #f46556);
  height: 75px;
  position: fixed;
}

.scrolled .nav-buttons a {
  border: 2px solid #351435;
  text-shadow: none;
}

.scrolled .nav-buttons a:hover::before {
  background-color: #351435;
}

.scrolled .nav-buttons button.full {
  color: #351435;
}

.fullNav {
  height: 100%;
  width: 100%;
  position: fixed;
  margin-left: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.col-lg-5 {
  padding-left: 0%;
}

.col-lg-7 {
  padding-right: 0%;
}

.fullNav-image {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.fullNav-pages {
  position: absolute;
  top: 15%;
  width: 100%;
  margin-left: 10%;
}

.fullNav-content {
  height: 100vh;
  display: block;
  background: black;
  position: relative;
  overflow-x: hidden;
}

.fullNav-pages a {
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent;
  margin: 10px;
  padding-left: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

.fullNav-pages a:hover {
  border-left: 5px solid #ff8533;
  color: #ff8533;
}

.fullNav-content .close a {
  text-shadow: none;
  color: #ff8533;
  padding: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.fullNav-content .close a:hover {
  color: orangered;
  cursor: pointer;
}

.fullMenu {
  display: none;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-250px, 0, 0);
            transform: translate3d(-250px, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-250px, 0, 0);
            transform: translate3d(-250px, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-250px, 0, 0);
            transform: translate3d(-250px, 0, 0);
    visibility: hidden;
  }
}

@keyframes slideOutLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-250px, 0, 0);
            transform: translate3d(-250px, 0, 0);
    visibility: hidden;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body:after {
  background: black;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: auto;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 100%;
}

body.open:after {
  opacity: 1;
  visibility: visible;
}

.b-nav {
  position: absolute;
  z-index: 11000;
}

.b-nav a {
  text-decoration: none;
  color: inherit;
}

.b-nav:not(.open) {
  visibility: hidden;
}

.b-nav li {
  color: white;
  list-style-type: none;
  padding: 10px;
  text-align: left;
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
}

.b-nav li:not(.open) {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: slideOutLeft;
          animation-name: slideOutLeft;
}

.b-nav li:first-child {
  padding-top: 120px;
}

.b-nav.open {
  visibility: visible;
}

.b-nav.open li {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
}

.b-link {
  background: transparent;
  border-left: rgba(255, 255, 255, 0) solid 2px;
  color: white;
  font-family: "gtMedium", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin-left: 30px;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: auto;
}

.b-link:hover, .b-link--active {
  border-left: white solid 2px;
  padding-left: 30px;
}

.b-menu {
  background: black;
  border: black solid 2px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  padding-left: 15.5px;
  padding-top: 17.5px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 60px;
  z-index: 12000;
}

.b-menu:hover {
  border: white solid 2px;
}

.b-bun {
  background: white;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.b-bun--top {
  height: 2px;
  top: 0;
  width: 25px;
}

.b-bun--mid {
  height: 2px;
  top: 8px;
  width: 25px;
}

.b-bun--bottom {
  height: 2px;
  top: 16px;
  width: 25px;
}

.b-brand {
  color: black;
  font-family: "gtMedium", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin-left: 30px;
  position: relative;
  text-decoration: none;
  top: -21.42857px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 13000;
}

.b-container {
  height: 60px;
  left: 30px;
  position: absolute;
  top: 30px;
}

.b-container:hover:not(.open) .bun-top,
.b-container:hover:not(.open) .bun-mid,
.b-container:hover:not(.open) .bun-bottom {
  background: black;
}

.b-container.open .b-main {
  border: white solid 2px;
}

.b-container.open .b-bun--top {
  background: white;
  top: 9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.b-container.open .b-bun--mid {
  opacity: 0;
}

.b-container.open .b-bun--bottom {
  background: white;
  top: 5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.b-container.open .b-brand {
  color: white;
}

@media only screen and (max-width: 1020px) {
  .fullMenu {
    display: block;
  }
  .navbar {
    display: none;
  }
}

.section2 {
  width: 100vw;
  background-color: black;
}

.section2 .main {
  padding: 70px 10px;
}

.section2 .main .heading {
  width: 100vw;
  margin: auto;
  max-width: 50vw;
  text-align: center;
  height: 30vh;
}

.section2 .main .heading h3 {
  font-family: "gtBold", sans-serif;
  font-weight: bold;
  font-size: 4vw;
  margin: 1rem auto 0;
  line-height: 1.5;
  color: #fff;
}

.section2 .main .heading p {
  font-family: "gtLight", sans-serif;
  font-size: 1.3vw;
  margin: 1rem auto 0;
  color: #fff;
}

.section2 .main .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: auto;
}

.section2 .main .row .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: top;
  padding: 0px;
}

.section2 .main .row .image img {
  height: 250px;
  width: 250px;
}

@media only screen and (max-width: 1020px) {
  .section2 .row .image img {
    width: 20vw;
  }
  .section2 .row .image {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 770px) {
  .section2 .main .heading {
    max-width: 80vw;
  }
  .section2 .main .heading h3 {
    font-size: 7vw;
  }
  .section2 .main .heading p {
    font-size: 3.5vw;
  }
  .section2 .row .image img {
    width: 40vw;
    hieght: 40vw;
    padding: 20px;
  }
  .section2 .row {
    padding-top: 115px;
  }
}

@media only screen and (max-width: 420px) {
  .section2 .main .heading {
    max-width: 75vw;
  }
  .section2 .main .heading h3 {
    font-size: 10vw;
  }
  .section2 .main .heading p {
    font-size: 5vw;
  }
  .section2 .row .image img {
    width: 70vw;
    height: 70vw;
    padding: 20px;
  }
  .section2 .row {
    padding-top: 150px;
  }
}

.section3 {
  width: 100vw;
  background-color: #fff;
}

.section3 .heading {
  padding: 70px 0px 0px;
  width: 100vw;
  margin: auto;
  max-width: 50vw;
  text-align: center;
  height: 30vh;
}

.section3 .heading h3 {
  font-family: "gtBold", sans-serif;
  font-weight: bold;
  font-size: 2.37rem;
  margin: 1rem auto 0;
  line-height: 1.5;
  color: black;
}

.section3 .heading p {
  font-family: "gtLight", sans-serif;
  font-size: 1.27rem;
  margin: 1rem auto 0;
  color: black;
}

.section3 .box {
  margin-top: 50px;
  width: 100%;
}

.section3 .row {
  margin: auto;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.section3 .row .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section3 .row .image {
  display: block;
}

.section3 .row .image img {
  height: 200px;
  float: right;
}

.section3 .row .content {
  border-left: 3px solid #ff8533;
}

.section3 .row .content h3 {
  font-family: "gtMedium", sans-serif;
  font-weight: bold;
  font-size: 1.77rem;
  margin: 1rem auto 0;
  line-height: 1.5;
  color: black;
}

.section3 .row3 {
  margin-bottom: 160px;
}

.section3 .row2 .image img {
  float: left;
}

.section3 .row2 .content {
  border-left: none;
  border-right: 3px solid #ff8533;
}

.section3 .row2 .first {
  display: none;
}

@media only screen and (max-width: 1020px) {
  .section3 .row .image img {
    width: 20vw;
  }
}

@media only screen and (max-width: 770px) {
  .section3 .heading h3 {
    font-size: 7vw;
  }
  .section3 .row .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section3 .row .image img {
    width: 40vw;
    height: 40vw;
  }
  .section3 .row1 {
    padding-top: 50px;
  }
  .section3 .row {
    margin-bottom: 30px;
  }
  .section3 .row3 {
    margin-bottom: 60px;
  }
  .section3 .row2 .second {
    display: none;
  }
  .section3 .row2 .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section3 .row .content h3 {
    font-size: 4vw;
  }
  .section3 .box {
    margin-top: 10px;
    margin-bottom: 150px;
  }
}

@media only screen and (max-width: 420px) {
  .section3 .heading {
    max-width: 80vw;
  }
  .section3 .heading h3 {
    font-size: 10vw;
  }
  .section3 .heading p {
    font-size: 5vw;
  }
  .section3 .row .image img {
    width: 55vw;
    height: 55vw;
  }
  .section3 .row1 {
    padding-top: 40px;
  }
  .section3 .row .content h3 {
    font-size: 6vw;
  }
  .section3 .box {
    margin-bottom: 100px;
  }
}

.section4 {
  height: 70vh;
  width: 90vw;
  background-image: url("../img/s2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: auto;
  border-radius: 100px;
}

.section4 .heading {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 100px;
}

.section4 .heading .box {
  max-width: 50%;
  margin: auto;
  padding-top: 20vh;
}

.section4 .heading h3 {
  font-family: "gtBold", sans-serif;
  font-weight: bold;
  font-size: 3.37rem;
  margin: 1rem auto 0;
  line-height: 1.5;
  color: #fff;
}

.section4 .heading h3 span {
  color: #ff8533;
}

.section4 .heading p {
  font-family: "gtLight", sans-serif;
  font-size: 1.47rem;
  margin: 1rem auto 0;
  color: #fff;
}

@media only screen and (max-width: 770px) {
  .section4 {
    border-radius: 0px;
    width: 100vw;
  }
  .section4 .heading {
    border-radius: 0px;
    width: 100vw;
  }
  .section4 .heading .box {
    max-width: 70vw;
  }
  .section4 .heading h3 {
    font-size: 7vw;
  }
  .section4 .heading p {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 420px) {
  .section4 .heading .box {
    max-width: 70vw;
  }
  .section4 .heading h3 {
    font-size: 10vw;
  }
  .section4 .heading p {
    font-size: 5vw;
  }
}

.section1 {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/s1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.section1 .heading {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.55);
}

.section1 .heading .box {
  max-width: 50%;
  margin: auto;
  padding-top: 30vh;
}

.section1 .heading .box img {
  width: 200px;
  height: 200px;
}

.section1 .heading h3 {
  font-family: "gtBold", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  margin: 1rem auto 0;
  line-height: 1.5;
  color: #fff;
}

.section1 .heading h3 span {
  color: #ff8533;
}

.section1 .heading p {
  font-family: "gtLight", sans-serif;
  font-size: 1.8rem;
  margin: 1rem auto 0;
  color: #fff;
}

@media only screen and (max-width: 770px) {
  .section1 .heading .box {
    max-width: 70vw;
  }
  .section1 .heading h3 {
    font-size: 7vw;
  }
  .section1 .heading p {
    font-size: 4.2vw;
  }
}

@media only screen and (max-width: 420px) {
  .section1 {
    background-image: url("../img/missioncircle.png");
    background-size: cover;
  }
  .section1 .heading .box {
    max-width: 70vw;
  }
  .section1 .heading .box img {
    height: 150px;
    width: 150px;
  }
  .section1 .heading h3 {
    font-size: 12vw;
  }
  .section1 .heading p {
    font-size: 6vw;
  }
}

.section5 {
  width: 100vw;
  background-color: #fff;
}

.section5 .heading {
  padding: 70px 0px 0px;
  width: 100vw;
  margin: auto;
  max-width: 50vw;
  text-align: center;
  height: 30vh;
}

.section5 .heading h3 {
  font-family: "gtBold", sans-serif;
  font-weight: bold;
  font-size: 2.37rem;
  margin: 1rem auto 0;
  line-height: 1.5;
  color: black;
}

.section5 .heading p {
  font-family: "gtLight", sans-serif;
  font-size: 1.27rem;
  margin: 1rem auto 0;
  color: black;
}

.section5 .event {
  -webkit-box-shadow: 4px 6px 8px #888888;
          box-shadow: 4px 6px 8px #888888;
  margin-bottom: 100px !important;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.section5 .event:hover {
  -webkit-box-shadow: 8px 10px 18px #888888;
          box-shadow: 8px 10px 18px #888888;
}

.section5 .event a {
  padding: 6px 20px;
  height: inherit;
  width: inherit;
  color: #ff8533;
  margin-top: 20px !important;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #ff8533;
  border-radius: 6px;
  -webkit-transition: -webkit-box-shadow 0.5s ease;
  transition: -webkit-box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease;
}

.section5 .event a:hover {
  -webkit-box-shadow: 2px 4px 10px #888888;
          box-shadow: 2px 4px 10px #888888;
}

@media only screen and (max-width: 770px) {
  .section5 .heading {
    margin-bottom: 70px !important;
  }
  .section5 .heading h3 {
    font-size: 7vw;
  }
  .section5 .event .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section5 .event .card-body {
    text-align: center;
  }
  .section5 .event img {
    height: 200px !important;
    width: 200px !important;
  }
}

@media only screen and (max-width: 420px) {
  .section5 .heading {
    max-width: 75vw;
  }
  .section5 .heading h3 {
    font-size: 10vw;
  }
  .section5 .heading p {
    font-size: 5vw;
  }
  .section5 .event {
    margin-top: 50px !important;
  }
  .section5 .event .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section5 .event img {
    height: 200px !important;
    width: 200px !important;
  }
}

.section6 {
  height: 70vh;
  width: 90vw;
  background: url("../img/s3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 100px;
  margin: auto;
}

.section6 .heading {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 100px;
}

.section6 .heading .box {
  max-width: 50%;
  margin: auto;
  padding-top: 20vh;
}

.section6 .heading h3 {
  font-family: "gtBold", sans-serif;
  font-weight: bold;
  font-size: 3.37rem;
  margin: 1rem auto 0;
  line-height: 1.5;
  color: #fff;
}

.section6 .heading h3 span {
  color: #ff8533;
}

.section6 .heading p {
  font-family: "gtLight", sans-serif;
  font-size: 1.47rem;
  margin: 1rem auto 0;
  color: #fff;
}

@media only screen and (max-width: 770px) {
  .section6 {
    border-radius: 0px;
    width: 100vw;
  }
  .section6 .heading {
    border-radius: 0px;
    width: 100vw;
  }
  .section6 .heading .box {
    max-width: 70vw;
  }
  .section6 .heading h3 {
    font-size: 7vw;
  }
  .section6 .heading p {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 420px) {
  .section6 .heading .box {
    max-width: 70vw;
  }
  .section6 .heading h3 {
    font-size: 10vw;
  }
  .section6 .heading p {
    font-size: 5vw;
  }
}

.section7 .section-1 {
  padding: 20vmin 0vmin;
}

.section7 .section-1 .row .col-md-6 .pray img {
  opacity: 1;
  width: 80%;
  border-radius: 0.2em;
}

.section7 .section-1 .row .col-md-6:last-child {
  position: relative;
}

.section7 .section-1 .row .col-md-6 .panel {
  position: absolute;
  top: 7vmin;
  left: -18vmin;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 13vmin 5vmin 10vmin 10vmin;
  -webkit-box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  font-family: var(--Rubik);
  z-index: 1;
}

.section7 .section-1 .row .col-md-6 .panel h1 {
  font-family: "gtBold", sans-serif;
  font-weight: bold;
  font-size: 2.8rem;
  margin: 1rem auto 0;
  line-height: 1.5;
  color: black;
}

.section7 .section-1 .row .col-md-6 .panel h1 span {
  color: #ff8533;
}

.section7 .section-1 .row .col-md-6 .panel p {
  font-family: "gtLight", sans-serif;
  font-size: 1.2rem;
  margin: 0rem auto 0;
  color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 768px) {
  .section7 .section-1 .row .col-md-6 .panel {
    position: initial;
    width: initial;
    height: initial;
  }
}

.section8 {
  width: 100vw;
  background-color: black;
  background: url("../img/s4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.section8 .container-box {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  padding-bottom: 100px;
}

.section8 .heading {
  padding: 80px 0px 20px;
  width: 100vw;
  margin: auto;
  max-width: 60vw;
}

.section8 .heading h3 {
  font-family: "gtBold", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  margin: 1rem auto 0;
  line-height: 1.5;
  color: #fff;
}

.section8 form {
  max-width: 60%;
  margin: auto;
}

.section8 form .form-group label {
  color: #fff;
  font-family: "gtLight", sans-serif;
}

.section8 form .form-group input {
  max-width: 350px;
  font-family: "gtLight", sans-serif;
}

.section8 form .form-group span {
  color: red;
}

.section8 form .form-group textarea {
  font-family: "gtLight", sans-serif;
  max-width: 770px;
  height: 80px;
  min-height: 60px;
  max-height: 480px;
}

.section8 form .expectation {
  margin-top: 30px;
}

.section8 form button {
  margin-top: 20px;
  background: none;
  border: 2px solid #ff8533;
  outline: none;
  color: #ff8533;
  font-family: "gtBold", sans-sarif;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px 20px;
}

.section8 form button:hover {
  background: #ff8533;
  color: #fff;
}

.team-boxed {
  color: #313437;
  background-color: #fff;
}

.team-boxed p {
  color: #7d8285;
}

.team-boxed h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width: 767px) {
  .team-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.team-boxed .intro {
  padding: 70px 0px 0px 0px;
  font-size: 2rem;
  max-width: 500px;
  margin: 0 auto;
}

.team-boxed .intro h2 {
  margin-bottom: 0;
  font-size: 2.3rem;
  font-family: "gtBold";
}

.team-boxed .people {
  padding: 50px 0;
}

.team-boxed .item {
  text-align: center;
}

.team-boxed .item .box {
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #ff8533;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.team-boxed .item .box:hover {
  -webkit-box-shadow: 5px 10px 18px #888888;
          box-shadow: 5px 10px 18px #888888;
}

.team-boxed .item .name {
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 8px;
  color: inherit;
  font-family: "gtBold";
}

.team-boxed .item img {
  border: 5px solid rgba(255, 133, 51, 0.1);
}

.team-boxed .item .title {
  text-transform: uppercase;
  font-weight: bold;
  color: #ff8533;
  letter-spacing: 2px;
  font-size: 13px;
}

.team-boxed .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: "gtMedium";
}

.team-boxed .item img {
  max-width: 160px;
}

.team-boxed .social {
  font-size: 18px;
  color: #a2a8ae;
}

.team-boxed .social a {
  color: inherit;
  margin: 0 10px;
  display: inline-block;
  opacity: 1;
}

.team-boxed .social a:hover {
  color: #ff8533;
}

/* footer */
footer {
  color: white;
  background: #000000;
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p > span {
  color: #ff512f;
}

footer input {
  border: none !important;
}

footer input::-webkit-input-placeholder {
  color: white !important;
}

footer input:-ms-input-placeholder {
  color: white !important;
}

footer input::-ms-input-placeholder {
  color: white !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: #ff512f;
  border: none;
  cursor: pointer;
}

footer .coloumn i {
  color: #ff512f;
  cursor: pointer;
}

footer .coloumn i + i {
  padding: 0 0.5em;
}

footer .gotop {
  float: right;
  height: 40px;
  width: 50px;
  background-color: #ff512f;
  margin-top: -100px;
  color: #fff;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .gotop a {
  text-decoration: none;
  color: inherit;
  padding: 3px 13px 10px 13px;
}

@media only screen and (max-width: 768px) {
  footer .row .col-md-2 {
    margin-top: 8vmin;
  }
}

@media only screen and (max-width: 425px) {
  footer {
    padding: 14vmin 18vmin;
  }
  footer .col {
    margin-top: 40px;
  }
  footer .gotop {
    margin-top: -140px;
  }
}
/*# sourceMappingURL=style.css.map */