html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

@font-face {
  font-family: gtBold;
  src: url("../fonts/displayBold.woff");
}
@font-face {
  font-family: gtMedium;
  src: url("../fonts/medium.woff");
}
@font-face {
  font-family: gtLight;
  src: url("../fonts/light.woff");
}
:root {
  --gradright: linear-gradient(to right, #f8c232, #cf4554);
  --shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

// Navbar
.navbar {
  background-color: transparent;
  color: #fff;
  height: 200px;
  width: 100vw;
  position: fixed;
  z-index: 100;
  transition: all 0.5s;

  .nav-buttons {
    display: flex;
    align-items: center;
    button.bookCircle {
      background: transparent;
      outline: none;
      color: #fff;
      border:none;;
      margin-right: 30px;
      // margin-top: 10px;
      font-size: 18px;
      font-weight: bold;
      text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
      a {
      padding: 6px 20px;
        height: inherit;
        width:inherit;
        color: inherit;
        text-decoration: none;
        border: 2px solid #ff8533;
       transition: background-color 0.5s;
      &:hover {
        background-color: #ff8533;
      }
      }
    }
    button.full {
      background: transparent;
      color: #ff8533;
      border: none;
      outline: none;
      font-size: 36px;
      margin-right: 50px;
    }
  }
}

.scrolled {
  background-color: #ff8533;
  height: 75px;
  position: fixed;
  .nav-buttons {
    button.bookCircle a {
      border: 2px solid black;
      text-shadow: none;
    }
    button.full {
      color: black;
      // margin-right: 40px;
    }
  }
}

// Fullnav
.fullNav {
  height: 100%;
  width: 100%;
  position: fixed;
  margin-left: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.5s;
}
.col-lg-5 {
  padding-left: 0%;
}

.col-lg-7 {
  padding-right: 0%;
}

.fullNav-image {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.fullNav-pages {
  position: absolute;
  top: 15%;
  width: 100%;
  margin-left: 10%;
}

.fullNav-content {
  height: 100vh;
  display: block;
  // justify-content: center;
  background: black;
  position: relative;
  overflow-x: hidden;
}

.fullNav-pages a {
  // padding: 20px 160px 20px 20px;
  text-decoration: none;
  // width: 100%;
  font-size: 30px;
  color: #fff;
  display: block;
  transition: all 0.3s ease-in-out;
  background: transparent;
  margin: 10px;
  padding-left: 20px;
  font-family: sans-serif;
  font-weight: bold;
  // max-width: 200px;
}

.fullNav-pages a:hover {
  border-left: 5px solid #ff8533;
  color: #ff8533;
}

.fullNav-content .close a {
  text-shadow: none;
  color: #ff8533;
  padding: 15px;
  // border-radius: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 45px;
  transition: all 0.3s;
}
.fullNav-content .close a:hover {
  color: orangered;
  cursor: pointer;
}



// full menu
.fullMenu {
  display:none;
}

$color-stack: (
    group: primary,
    id: normal,
    color: black
  ),
  (
    group: complement,
    id: normal,
    color: #fff
  );

@function color($group, $shade: normal, $transparency: 1) {
  @each $color in $color-stack {
    $c-group: map-get($color, group);
    $c-shade: map-get($color, id);
    @if ($group == map-get($color, group) and $shade == map-get($color, id)) {
      @return rgba(map-get($color, color), $transparency);
    }
  }
}

$b-height: 60px; //Height (and width) of the burger menu
$b-margin-top: 30px; //Burger menu margin (distance from top)
$b-margin-left: 30px; //Burger menu margin (distance from left)
$b-border-width: 2px; //Width of the borders and 'buns'
$b-bun-width: 25px; //Width of the 'buns'
$b-bun-height: $b-border-width; //Height of the 'buns'
$b-border-radius: 50%; //Change the border radius of the menu

$b-trans-speed: 0.4s; //Transition speed settings
$b-transition: all $b-trans-speed ease; //Transitions

$b-font-size: 24px; //Font size of brand and links
$b-font-family: "gtMedium", Helvetica, Arial, sans-serif; //Font family of the brand and links
$b-font-weight: 300; //Font weight of brand and links
$b-txt-pad: 30px; //Left padding on both brand and links

$b-line-height: (
  $b-height / 2 - ($b-font-size / 2.8)
); //Vertically centers brand to menu
$b-txt-pad-top: (
  $b-margin-top + $b-height + $b-txt-pad
); //Top margin for first link element
$b-bun-width-half: ($b-bun-width / 2); //Half bun width used for calculation
$b-pad-left: (
  $b-height / 2 - $b-bun-width-half - 2
); //Horizontally centers bun in menu
$b-pad-top: (
  $b-height / 2 - $b-bun-width-half
); //Vertically centers bun in menu

@keyframes slideInLeft {
  0% {
    transform: translate3d(-250px, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-250px, 0, 0);
    visibility: hidden;
  }
}

* {
  box-sizing: border-box;
}

body {
  &:after {
    background: color(primary);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: auto;
    padding: 0;
    position: absolute;
    top: 0;
    transition: $b-transition;
    width: 100%;
  }

  // &.open {
  //   overflow: hidden;
  // }

  &.open:after {
    opacity: 1;
    visibility: visible;
  }
}

.b-nav {
  position: absolute;
  z-index: 11000;

  a {
    text-decoration: none;
    color: inherit;
  }

  &:not(.open) {
    visibility: hidden;
  }

  li {
    color: color(complement);
    list-style-type: none;
    padding: 10px;
    text-align: left;
    transform: translateX(-250px);
  }

  li:not(.open) {
    animation-duration: $b-trans-speed;
    animation-fill-mode: both;
    animation-name: slideOutLeft;
  }

  li:first-child {
    padding-top: $b-txt-pad-top;
  }

  &.open {
    visibility: visible;

    li {
      animation-duration: $b-trans-speed;
      animation-fill-mode: both;
      animation-name: slideInLeft;
    }
  }
}

.b-link {
  background: transparent;
  border-left: color(complement, normal, 0) solid $b-border-width;
  color: color(complement);
  font-family: $b-font-family;
  font-size: $b-font-size;
  font-weight: $b-font-weight;
  margin-left: $b-margin-left;
  text-decoration: none;
  transition: $b-transition;
  width: auto;

  &:hover,
  &--active {
    border-left: color(complement) solid $b-border-width;
    padding-left: $b-txt-pad;
  }
}

.b-menu {
  background: color(primary);
  border: color(primary) solid $b-border-width;
  border-radius: $b-border-radius;
  cursor: pointer;
  display: inline-block;
  height: $b-height;
  padding-left: $b-pad-left;
  padding-top: $b-pad-top;
  position: relative;
  transition: $b-transition;
  user-select: none;
  width: $b-height;
  z-index: 12000;

  &:hover {
    border: color(complement) solid $b-border-width;
  }
}

.b-bun {
  background: color(complement);
  position: relative;
  transition: $b-transition;

  &--top {
    height: $b-bun-height;
    top: 0;
    width: $b-bun-width;
  }

  &--mid {
    height: $b-bun-height;
    top: 8px;
    width: $b-bun-width;
  }

  &--bottom {
    height: $b-bun-height;
    top: 16px;
    width: $b-bun-width;
  }
}

.b-brand {
  color: color(primary);
  font-family: $b-font-family;
  font-size: $b-font-size;
  font-weight: $b-font-weight;
  margin-left: $b-txt-pad;
  position: relative;
  text-decoration: none;
  top: -$b-line-height;
  transition: $b-transition;
  z-index: 13000;
}

.b-container {
  height: $b-height;
  left: $b-margin-left;
  position: absolute;
  top: $b-margin-top;

  &:hover:not(.open) {
    .bun-top,
    .bun-mid,
    .bun-bottom {
      background: color(primary);
    }
  }

  &.open {
    .b-main {
      border: color(complement) solid $b-border-width;
    }

    .b-bun--top {
      background: color(complement);
      top: 9px;
      transform: rotate(45deg);
    }

    .b-bun--mid {
      opacity: 0;
    }

    .b-bun--bottom {
      background: color(complement);
      top: 5px;
      transform: rotate(-45deg);
    }

    .b-brand {
      color: color(complement);
    }
  }
}

@media only screen and (max-width: 1020px) {
    .fullMenu {
      display:block;
    }
    .navbar {
      display:none;
    }
}

// Slidder
// .header1 {
//   display:none;
// }

// .bd-example .carousel-item {
//   height: 100vh;
// }

// .bd-example .carousel-item:before {
//   content: "";
//   position: absolute;
//   background: rgba(0, 0, 0, 0.4);
//   border-radius: 5px;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
// }

// .banner {
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
//   height: 100vh;
//   background-attachment: fixed;
// }

// .carousel-caption {
//   // border: 3px solid green;
//   padding-bottom: 250px;
//   height: 450px;
//   // font-family: "poppins";
// }

// .carousel-caption h2 {
//   // border: 3px solid green;
//   font-size: 70px;
//   text-transform: uppercase;
//   font-weight: bold;
//   line-height: 1.5;
//   font-family: "gtBold", sans-serif;
// }

// .carousel-caption h2 span {
//   color: #ff8533;
// }

// .carousel-caption h3 {
//   line-height: 1.5;
// }

// .carousel-caption a {
//   background: #ff8533;
//   padding: 15px 35px;
//   display: inline-block;
//   margin-top: 15px;
//   color: #fff;
//   text-transform: uppercase;
//   border-radius: 25px;
//   box-shadow: var(--shadow);
//   text-decoration: none;
//   transition: 0.3s ease;
// }

// .carousel-caption a:hover {
//   background: #fff;
//   color: #ff8533;
// }

// .carousel-indicators .active {
//   background-color: #ff4b2c;
// }

// @media only screen and (max-width: 1020px) {
//   .bd-example {
//     display: none;
//   }
//   .header1 {
//     display: block;
//   }
// }

// Slidder end

// section2
.section2 {
  // height: 100vh;
  width: 100vw;
  background-color: black;

  .main {
    padding: 70px 10px;
    .heading {
      width: 100vw;
      margin: auto;
      max-width: 50vw;
      text-align: center;
      // border: 2px solid white;
      height: 30vh;

      h3 {
        font-family: "gtBold", sans-serif;
        font-weight: bold;
        font-size: 4vw;
        margin: 1rem auto 0;
        line-height: 1.5;
        color: #fff;
      }
      p {
        font-family: "gtLight", sans-serif;
        font-size: 1.3vw;
        margin: 1rem auto 0;
        color: #fff;
      }
    }
    .row {
      // border: 2px solid pink;
      display: flex;
      justify-content: center;
      width: 90%;
      margin: auto;

      .image {
        // border: 2px solid red;
        // margin-top:100px;  
        display: flex;
        justify-content: center;
        vertical-align: top;
        padding: 0px;
      }
    }
  }
}
@media only screen and (max-width: 1020px) {
  .section2 .row .image img {
    width: 20vw;
  }
  .section2 .row .image{
    margin-top: 0px;
  }
}

@media only screen and (max-width: 770px) {
  .section2 .main .heading h3 {
    font-size: 5vw;
  }
  .section2 .main .heading p {
    font-size: 3vw;
  }
  .section2 .row .image img {
    width: 40vw;
    hieght: 40vw;
    padding: 20px;
  }
  .section2 .row {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 420px) {
  .section2 .main .heading {
    max-width: 75vw;
  }
  .section2 .main .heading h3 {
    font-size: 10vw;
  }
  .section2 .main .heading p {
    font-size: 5vw;
  }

  .section2 .row .image img {
    width: 70vw;
    height: 70vw;
    padding: 20px;
  }
  .section2 .row {
    padding-top: 150px;
  }
}

.section3 {
  // height: 150vh;
  width: 100vw;
  background-color: #fff;

  .heading {
    padding: 70px 0px 0px;
    width: 100vw;
    margin: auto;
    max-width: 50vw;
    text-align: center;
    // border: 2px solid white;
    height: 30vh;

    h3 {
      font-family: "gtBold", sans-serif;
      font-weight: bold;
      font-size: 2.37rem;
      margin: 1rem auto 0;
      line-height: 1.5;
      color: black;
    }
    p {
      font-family: "gtLight", sans-serif;
      font-size: 1.27rem;
      margin: 1rem auto 0;
      color: black;
    }
  }

  .box {
    margin-top: 50px;
    width: 100%;
  }
  .row {
    margin: auto;
    // border: 2px solid red;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    .second {
      display: flex;
    }

    .image {
      display: block;
      // border: 3px solid pink;

      img {
        height: 200px;
        float: right;
      }
    }
    .content {
      border-left: 3px solid #ff8533;
      h3 {
        font-family: "gtMedium", sans-serif;
        font-weight: bold;
        font-size: 1.77rem;
        margin: 1rem auto 0;
        line-height: 1.5;
        color: black;
      }
    }
  }
  .row3{
    margin-bottom:160px;
  }
  .row2 {
    .image {
      img {
        float: left;
      }
    }
    .content {
      border-left: none;
      border-right: 3px solid #ff8533;
    }
  }
}
.section3 .row2 .first {
  display: none;
}

@media only screen and (max-width: 1020px) {
  .section3 .row .image img {
    width: 20vw;
  }
}

@media only screen and (max-width: 770px) {
  .section3 .heading h3 {
    font-size: 5vw;
  }
  .section3 .heading p {
    font-size: 3vw;
  }
  .section3 .row .image {
    display: flex;
    justify-content: center;
  }
  .section3 .row .image img {
    width: 30vw;
    height: 30vw;
  }
  .section3 .row1 {
    padding-top: 30px;
  }
  .section3 .row {
    margin-bottom: 30px;
  }

  .section3 .row3 {
    margin-bottom: 60px;
  }

  .section3 .row2 .second {
    display: none;
  }

  .section3 .row2 .first {
    display: flex;
  }
  .section3 .row .content h3 {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 420px) {
  .section3 .heading {
    max-width: 80vw;
  }

  .section3 .heading h3 {
    font-size: 10vw;
  }
  .section3 .heading p {
    font-size: 5vw;
  }

  .section3 .row .image img {
    width: 55vw;
    height: 55vw;
    // padding: 20px;
  }
  .section3 .row1 {
    padding-top: 100px;
  }

  .section3 .row .content h3 {
    font-size: 6vw;
  }
}

.section4 {
  height: 100vh;
  width: 100vw;
  background-image: url("../img//s2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .heading {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.55);

    .box {
      max-width: 50%;
      margin: auto;
      padding-top: 30vh;
    }
    h3 {
      font-family: "gtBold", sans-serif;
      font-weight: bold;
      font-size: 3.37rem;
      margin: 1rem auto 0;
      line-height: 1.5;
      color: #fff;
      span {
        color: #ff8533;
      }
    }
    p {
      font-family: "gtLight", sans-serif;
      font-size: 1.47rem;
      margin: 1rem auto 0;
      color: #fff;
    }
  }
}

@media only screen and (max-width: 770px) {
  .section4 .heading .box {
    max-width: 70vw;
  }
  .section4 .heading h3 {
    font-size: 5.2vw;
  }
  .section4 .heading p {
    font-size: 3.2vw;
  }
}

@media only screen and (max-width: 420px) {
  .section4 .heading .box {
    max-width: 70vw;
  }
  .section4 .heading h3 {
    font-size: 10vw;
  }
  .section4 .heading p {
    font-size: 5vw;
  }
}

// header 1 image change
.header1 {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/s1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media only screen and (max-width: 420px) {

  .header1 {
    background-image: url("../img/missioncircle.png");
  background-size: cover;
  }
}

.section5 {
  // height: 100vh;
  width: 100vw;
  background-color: #fff;

  .heading {
    padding: 70px 0px 0px;
    width: 100vw;
    margin: auto;
    max-width: 50vw;
    text-align: center;
    // border: 2px solid green;
    height: 30vh;

    h3 {
      font-family: "gtBold", sans-serif;
      font-weight: bold;
      font-size: 2.37rem;
      margin: 1rem auto 0;
      line-height: 1.5;
      color: black;
    }
    p {
      font-family: "gtLight", sans-serif;
      font-size: 1.27rem;
      margin: 1rem auto 0;
      color: black;
    }
  }

  .box {
    margin-top: 20px;
    width: 100%;
  }
  .row {
    margin: 50px auto;
    border: 2px solid #ff8533;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 3px solid red;
    margin-bottom: 200px;

    .image {
      display: block;
      // border: 3px solid pink;

      img {
        height: 200px;
        float: right;
        // border:20px solid green;
      }
    }
    .content {
      h3 {
        font-family: "gtBold", sans-serif;
        font-weight: bold;
        font-size: 1.77rem;
        margin: 1rem auto 0;
        line-height: 1.5;
        color: black;
      }
      p {
        font-family: "gtLight", sans-serif;
        font-size: 1.27rem;
        margin: 0rem auto 0;
        color: rgba(0, 0, 0, 0.65);
      }
      button {
        margin-top: 20px;
        background: none;
        border: 2px solid #ff8533;
        outline: none;
        color: #ff8533;
        font-family: "gtMedium", sans-sarif;
        transition: all 0.5s;
        &:hover {
          background: #ff8533;
          color: #fff;
        }
        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  .section5 .heading h3 {
    font-size: 5.5vw;
  }
  .section5 .heading p {
    font-size: 3vw;
  }

  .section5 .row .image {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .section5 .row .content {
    text-align: center;
  }
}

@media only screen and (max-width: 420px) {
  .section5  .heading {
    max-width: 75vw;
  }
  .section5 .heading h3 {
    font-size: 10vw;
  }
  .section5 .heading p {
    font-size: 5vw;
  }

  .section5 .row {
    margin-top: 80px;
    margin-bottom: 100px;
  }
}

.section6 {
  height: 100vh;
  width: 100vw;
  background: url("../img/s3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .heading {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.55);

    .box {
      max-width: 50%;
      margin: auto;
      padding-top: 30vh;
    }
    h3 {
      font-family: "gtBold", sans-serif;
      font-weight: bold;
      font-size: 3.37rem;
      margin: 1rem auto 0;
      line-height: 1.5;
      color: #fff;
      span {
        color: #ff8533;
      }
    }
    p {
      font-family: "gtLight", sans-serif;
      font-size: 1.47rem;
      margin: 1rem auto 0;
      color: #fff;
    }
  }
}
@media only screen and (max-width: 770px) {
  .section6 .heading .box {
    max-width: 70vw;
  }
  .section6 .heading h3 {
    font-size: 5.2vw;
  }
  .section6 .heading p {
    font-size: 3.2vw;
  }
}

@media only screen and (max-width: 420px) {
  .section6 .heading .box {
    max-width: 70vw;
  }
  .section6 .heading h3 {
    font-size: 10vw;
  }
  .section6 .heading p {
    font-size: 5vw;
  }
}

.section7 {
  .section-1 {
    padding: 20vmin 0vmin;
  }

  .section-1 .row .col-md-6 .pray img {
    opacity: 1;
    width: 80%;
    border-radius: 0.2em;
  }

  .section-1 .row .col-md-6:last-child {
    position: relative;
  }

  .section-1 .row .col-md-6 .panel {
    position: absolute;
    top: 7vmin;
    left: -18vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--Rubik);
    z-index: 1;
  }

  .section-1 .row .col-md-6 .panel h1 {
    font-family: "gtBold", sans-serif;
    font-weight: bold;
    font-size: 2.27rem;
    margin: 1rem auto 0;
    line-height: 1.5;
    color: black;
    span {
      color: #ff8533;
    }
  }

  .section-1 .row .col-md-6 .panel p {
    font-family: "gtLight", sans-serif;
    font-size: 1rem;
    margin: 0rem auto 0;
    color: rgba(0, 0, 0, 0.6);
  }
}
@media only screen and (max-width:768px) {
    
     .section7 .section-1 .row .col-md-6 .panel {
         position: initial;
         width: initial;
         height: initial;
     }
}

.section8 {
  // height: 100vh;
  width: 100vw;
  background-color: black;
  background: url("../img/s4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .container-box {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    padding-bottom: 100px;
  }
  .heading {
    padding: 80px 0px 20px;
    width: 100vw;
    margin: auto;
    max-width: 60vw;
    // text-align: center;
    // border: 2px solid white;

    h3 {
      font-family: "gtBold", sans-serif;
      font-weight: bold;
      font-size: 2.37rem;
      margin: 1rem auto 0;
      line-height: 1.5;
      color: #fff;
    }
  }

  form {
    max-width: 60%;
    margin: auto;
    .form-group {
      label {
        color: #fff;
        font-family: "gtLight", sans-serif;
      }
      input {
        max-width: 350px;
        font-family: "gtLight", sans-serif;
      }
      span {
        color: red;
      }
      textarea {
        font-family: "gtLight", sans-serif;
        max-width: 770px;
        height: 80px;
        min-height: 60px;
        max-height: 480px;
      }
    }
    .expectation {
      margin-top:30px;
    }
    button {
      margin-top: 20px;
      background: none;
      border: 2px solid #ff8533;
      outline: none;
      color: #ff8533;
      font-family: "gtBold", sans-sarif;
      transition: all 0.3s;
      padding: 10px 20px;
      &:hover {
        background: #ff8533;
        color: #fff;
      }
    }
  }
}

.section9 {
  .heading {
    padding: 70px 0px 0px;
    width: 100vw;
    margin: auto;
    max-width: 50vw;
    text-align: center;
    // border: 2px solid white;
    height: 30vh;

    h3 {
      font-family: "gtBold", sans-serif;
      font-weight: bold;
      font-size: 2.37rem;
      margin: 1rem auto 0;
      line-height: 1.5;
      color: black;
    }
  }
  .testimonial {
    // padding-top: 20px;
    // padding-bottom: 40px;
    margin: 20px 15px 0;
  }
  .testimonial .pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    border: 5px solid #fff;
    box-shadow: 2px 3px 6px -3px rgba(0, 0, 0, 0.35);
    position: relative;
  }
  .testimonial .pic:after {
    content: "\201C";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 36px;
    height: 36px;
    // line-height: 36px;
    border-radius: 50%;
    text-align: center;
    background: #ff8533;
    font-size: 34px;
    color: #fff;
    position: absolute;
    top: 65px;
    left: 0;
  }
  .testimonial .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  .testimonial .testimonial-content {
    padding: 10px;
    margin-left: 120px;
  }
  .testimonial .description {
    font-size: 14px;
    color: #555;
    line-height: 22px;
  }
  .testimonial .testimonial-title {
    font-size: 19px;
    color: #ff8533;
    text-transform: capitalize;
    display: inline-block;
  }
  .testimonial .post {
    font-size: 14px;
    font-style: italic;
    color: #444;
    margin-top: 10px;
  }
  .owl-theme .owl-buttons {
    margin-top: 20px;
  }
  .owl-theme .owl-controls .owl-buttons div {
    padding: 5px 10px;
    background: #ff8533;
    border-radius: 0;
    opacity: 1;
    border-bottom: 2px solid #da4126;
  }
  .owl-theme .owl-controls .owl-buttons div:hover {
    background: #da4126;
  }
  .owl-prev:before,
  .owl-next:before {
    content: "<";
    font-family: "gtBold";
    // font-size: 32px;
    font-weight: 900;
    color: #fff;
  }
  .owl-next:before {
    content: ">";
  }
  @media only screen and (max-width: 480px) {
    .testimonial {
      text-align: center;
    }
    .testimonial .pic {
      float: none;
      margin: 0 auto;
    }
    .testimonial .testimonial-content {
      margin-left: 0;
    }
    .owl-theme .owl-buttons {
      margin-top: 0;
    }
  }
}

.section10 {
  width: 100vw;
  // border: 2px solid green;

  .heading {
    padding: 70px 0px 0px;
    width: 100vw;
    margin: auto;
    max-width: 50vw;
    text-align: center;
    // border: 2px solid white;
    height: 30vh;

    h3 {
      font-family: "gtBold", sans-serif;
      font-weight: bold;
      font-size: 2.37rem;
      margin: 1rem auto 0;
      line-height: 1.5;
      color: black;
    }
  }

  .owl-carousel {
    // padding-top: 80px;
    padding-bottom: 80px;
    // width: 100%;
    // border: 2px solid red;
    margin-left: 100px;
  }
  .testimonial {
    text-align: center;
  }
  .description {
    color: #8a9aad;
    font-size: 15px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 30px;
  }
  .pic {
    position: relative;
  }
  .pic > img {
    border-radius: 50%;
  }
  .pic:before {
    content: "\201C";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 30%;
    color: #ff8533;
    font-size: 36px;
  }
  .pic:after {
    content: "\201D";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 30%;
    color: #ff8533;
    font-size: 36px;
  }
  .testimonial-title {
    margin-top:10px;
    font-size: 21px;
    color: #ff8533;
    text-transform: capitalize;
  }
  .testimonial-title > small {
    display: block;
    color: #8a9aad;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 5px;
  }
  .owl-buttons {
    position: absolute;
    top: 13%;
    width: 100%;
  }
  .owl-prev {
    position: absolute;
    left: -14%;
  }
  .owl-next {
    position: absolute;
    right: -14%;
  }
  .owl-theme .owl-controls .owl-buttons div {
    background: transparent;
    opacity: 1;
  }
  .owl-theme .owl-controls .owl-buttons div {
    border-radius: 50%;
  }
  .owl-prev:after,
  .owl-next:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\27F6";
    width: 28px;
    height: 28px;
    font-size: 24px;
    color: #ff8533;
    transition: all 0.15s ease 0s;
  }
  .owl-prev:after {
    content: "\27F5";
  }
  .owl-prev:hover:after,
  .owl-next:hover:after {
    color: orangered;
  }
  .owl-pagination {
    padding-top: 45px;
  }
  .owl-theme .owl-controls .owl-page span {
    width: 9px;
    height: 9px;
    background: white;
    border: 3px solid #ff8533;
    margin-right: 20px;
    opacity: 1;
    transition: all 0.35s ease 0s;
  }
  .owl-theme .owl-controls .owl-page.active span,
  .owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #fff;
    border: 3px solid #90969d;
    opacity: 1;
  }
  @media screen and (max-width: 767px) {
    
    .owl-buttons {
      display:none;
    }
    .pic:before {
      left: 10%;
    }
    .pic:after {
      right: 10%;
    }
  }
  @media screen and (max-width: 480px) {
    .owl-buttons {
      top: 3%;
      left: 40%;
      width: 18%;
    }
    .pic:before {
      left: 0;
    }
    .pic:after {
      right: 0;
    }
  }
}
@media screen and (max-width: 480px) {
  .section10 .owl-carousel {
    margin-left: 0px;
  }
}

/* footer */

footer {
  color: white;
  background: #000000;
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p > span {
  color: #ff512f;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: #ff512f;
  border: none;
  cursor: pointer;
}

footer .coloumn i {
  color: #ff512f;
  cursor: pointer;
}

footer .coloumn i + i {
  padding: 0 0.5em;
}

@media only screen and (max-width: 768px) {
  footer {
    padding: 10vmin;
  }

  footer .row .col-md-2 {
    margin-top: 8vmin;
  }
}

@media only screen and (max-width: 425px) {
  footer {
    padding: 14vmin 18vmin;
  }
}

// footer end
